# ===============================
# Node / Package Managers
# ===============================
mock/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# Build Outputs
# ===============================
dist/
dist-ssr/
build/

# ===============================
# Environment Variables
# ===============================
.env
.env.local
.env.*.local

# ===============================
# Vite
# ===============================
.vite/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# ESLint
# ===============================
.eslintcache

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor / IDE
# ===============================
.trae/
.vscode/
.idea/
*.swp

# ===============================
# Private Notes
# ===============================
问答.md
localhost_5173-20260324T135740.json
.vscode/settings.json
/.agents
/.claude
CLAUDE.md
/skills
skills-lock.json
.vscode/settings.json
/.vscode
